div.card-selection {
    margin: 2em 0 2em 0;
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: stretch;
	box-sizing: border-box;
	height: 10em;
	min-height: 10em;
	max-height: 10em;
}