div.game-view {
	height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-areas:
		"upper"
		"lower";
	overflow: hidden;
}

div.game-view > div.upper-section {
	grid-area: upper;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "a a b";
	align-items: stretch;
	border-bottom: 1px solid gray;
}

div.game-view > div.upper-section > div.other-players {
	grid-area: a;
}

div.game-view > div.upper-section > div.game-stats {
	grid-area: b;
}

div.game-view > div.lower-section {
	grid-area: lower;
}

div.game-view div.game-control {
	border-left: 1px solid gray;
	display: flex;
	flex-direction: column;
}

div.game-view div.stats-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
