div.player {
	font-size: 2.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 5em;
}

div.player > div.other-player-card {
	height: 3em;
}

div.player > div.other-player-card.value-picked {
	background-color: var(--color-2);
	color: white;
}

div.player > div.other-player-card > p {
	margin: 0;
	text-align: center;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

div.player > div.other-player-card.value-picked > p {
	animation: spin 1s linear infinite;
}

div.player > div.player-name {
	width: 100%;
}

div.player > div.player-name > p {
	margin: 0;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
