div.session-info {
	font-size: 1.5rem;
    padding: 1em;
	display: flex;
}

div.session-info span.session-id {
	display: inline-flex;
    font-weight: bold;
}

div.session-info span.session-id button.copy-button {
	background: none;
	color: white;
	font-size: 1.5rem;
}

div.session-info span.session-id:hover {
	cursor: pointer;
	color: lightblue;
}

div.session-info span.session-id:hover button.copy-button {
	cursor: pointer;
	color: lightblue;
}
