div.game-stats {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.game-stats div.loading-dots {
	font-size: 3rem;
}

div.game-stats > div.table-container {
	min-width: 50%;
}

div.game-stats > div.table-container > table {
	width: 100%;
}
div.game-stats > div.table-container > table > tbody > tr > td {
	width: 50%;
	padding: 0.5em 1em;
}
div.game-stats > div.table-container > table > tbody > tr > td:first-child {
	text-align: right;
}
