div.player {
	font-size: 2.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	animation: grow 1s ease;
}

@keyframes grow {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

div.player > div.card {
	height: 3em;
}

div.player > div.self-player-card > p {
	font-size: 80%;
	margin: 0;
}

div.player > div.other-player-card.value-picked {
	background-color: var(--color-2);
	color: white;
}

div.player > div.other-player-card > p {
	margin: 0;
	text-align: center;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

div.player > div.other-player-card.value-picked > p {
	animation: spin 1s linear infinite;
}

div.player > div.player-name > p {
	font-size: 50%;
	width: 15ch;
	margin: 0;
	text-align: center;
	overflow: hidden;
	word-break: break-all;
}
