div.session-info {
	font-size: 1.2rem;
	padding: 0 1em;
	display: flex;
	justify-content: space-between;

}

div.session-info p {
	margin: 0.5em 0em;
	padding: 0;
}

div.session-info span.session-id {
	font-weight: bold;
}

div.session-info span.session-id button.copy-button {
	background: none;
	color: white;
	padding: 0 0 0 0.5em;
	border: none;
}

div.session-info span.session-id:hover {
	cursor: pointer;
	color: var(--color-1);
}

div.session-info span.session-id:hover button.copy-button {
	cursor: pointer;
	color: var(--color-1);
}
