div.card-editor {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
	overflow-y: auto;
}

div.card-editor > button.add-card {
	font-size: 3rem;
	background: pink;
	color: black;
	border: 0.06em solid lightcyan;
	margin: 0.33em;
	height: 3em;
	width: 2em;
	min-width: 2em;
	border-radius: 0.16em;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	padding: 0;
	box-sizing: content-box;
}

div.card-editor > button.add-card > p {
	margin: 0;
}

div.card-editor > button.add-card:hover {
	cursor: pointer;
	background: lightpink;
}
