div.game-creation {
	height: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
}

div.game-creation > div.heading {
	display: grid;
	place-items: center;
	font-size: 2rem;
}

div.game-creation > div.settings {
	display: flex;
	flex: 1;
	min-height: 0;
}

div.game-creation > div.settings > div {
	height: 100%;
	max-height: 100%;
	flex: 1;
}

div.game-creation > div.settings > div.right-section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
div.game-creation h2 {
	font-size: 2em;
	margin: 0 0 0.5em 0.5em;
}

div.game-creation div.game-creation-player {
	min-width: 50%;
}
div.game-creation div.game-creation-player > input {
	width: 100%;
	box-sizing: border-box;
	font-size: 2rem;
}

div.game-creation div.game-creation-player > input:invalid {
	border-color: var(--color-sig);
	outline-color: var(--color-sig);
}

div.game-creation div.game-creation-cards {
	padding: 1em 0 1em 0;
	height: 100%;
	max-height: 100%;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.game-creation div.game-creation-button {
	min-width: 50%;
}
div.game-creation div.game-creation-button > button {
	width: 100%;
	font-size: 2rem;
}
